<html>

<body>
    <p>
         <b>BRAND IDENTITY</b><br><br>
        <b>First Name :</b>
           <%= firstName %><br>
        <b>Middle Name :</b>
           <%= middleName %><br>
        <b>Last Name :</b>
           <%= lastName %><br>
  <b>Company :</b>
           <%= companyName %><br>

               <b>Does your brand have a name? :</b>
           <%= brandName %><br>
        <b>What have you set out to accomplish with your brand? :</b>
           <%= accomplish %><br>
        <b>Which of the following characteristics best describe the personality you want your brand to have? :</b>
           <%= characteristics %><br>
        <b>Do you see your Brand being more Feminine (1) or Masculine (10)? :</b>
           <%= gender %><br>
        <b>Do you see your Brand being Younger (1) or Mature (10)? :</b>
           <%= ageType %><br>
             <b>Do you see your Brand being more Affordable (1) or Luxurious (10)? :</b>
           <%= affordableLuxurious %><br>
        <b>Do you see your Brand being more Classic (1) or Modern (10)? :</b>
           <%= classicModern %><br>
        <b>Do you see your Brand being more Playful (1) or Serious (10)? :</b>
           <%= playfulSerious %><br>
        <b>What do you want your customers to feel when interacting with the Brand? :</b>
           <%= interactionBrand %><br>
        <b>What colors do you associate with the brand? :</b>
           <%= brandColor %><br>
        <b>What type of logo(s) do you prefer for the Brand? :</b>
           <%= logoType %><br>
                <b>What font(s) do you prefer for the Brand? :</b>
           <%= brandFont %><br>
        <b>What are the brand’s origins? :</b>
           <%= brandOrigin %><br>


            <b>Where does the brand want to be in the next 5-10 years? :</b>
           <%= brandLevel %><br>
        <b>Where all do you intend to use your Brand identity to communicate with the world? :</b>
           <%= brandIdentity %><br>
       
    </p>
</body>

</html>