<html>

<body>
    <p>
         <b>WEBSITE</b><br><br>
        <b>First Name :</b>
           <%= firstName %><br>
        <b>Middle Name :</b>
           <%= middleName %><br>
        <b>Last Name :</b>
           <%= lastName %><br>
  <b>Company :</b>
           <%= companyName %><br>

               <b>What is the business and how will your website advance it? :</b>
           <%= business %><br>
        <b>What message is the website supposed to convey? :</b>
           <%= message %><br>
        <b>Who is the primary audience for the website (demographics)? :</b>
           <%= demographics %><br>
        <b>What is it that you require? If it’s a mobile app or social media, please share specific requirements. :</b>
           <%= requirementsArr %><br>
        <b>Do you need a website that can work smoothly on mobile devices like Samsung Galaxy (Android) and the iPhone (iOS)? This means the site has to be a ‘Responsive Design’ which adjusts dynamically to various screen sizes and resolutions. :</b>
           <%= responsiveDesign %><br>
             <b>Do you need a catalogue for the site? :</b>
           <%= catalogue %><br>
        <b>Do you need a copywriter? :</b>
           <%= copywriter %><br>
        <b>If you are using existing copy on your current website, will it need to be modified in any way? :</b>
           <%= modifiedWebsite %><br>
        <b>Do you need a web domain name and hosting for the website? :</b>
           <%= webDomain %><br>
        <b>Would you like a Static or Dynamic website?:</b>
           <%= staticDynamic %><br>
        <b>What do you want the user to do when they get to your site?:</b>
           <%= sitePurpose1 %><br>
                <b>What are your goals for the website in terms of visitor actions? :</b>
           <%= sitePurpose2 %><br>
        <b>What do you think your site user should accomplish on your site? :</b>
           <%= sitePurpose3 %><br>




        <b>Which of the following sections/features would you want in the site (other than Home, About and Contact) :</b>
           <%= websiteFeaturesArr %><br>
        <b>Would your website have a blog? :</b>
           <%= blog %><br>
        <b>Would your website require e-commerce? :</b>
           <%= ecommerce %><br>



        <b>Do you expect the site to send mailers / email automatically? :</b>
           <%= mailer %><br>
        <b>Do you want people to be able to rate things on your site? :</b>
           <%= rating %><br>
        <b>Ideally if you could, please send us a sitemap of the website. :</b>
           <%= siteMap %><br>


        <b>Would you like your work/products to be professionally shot? :</b>
           <%= professionallyShotseo %><br>



        <b>How will you attract visitors to your site? Are you looking for Search Engine Optimisation/Google rankings (SEO)? :</b>
           <%= seo %><br>
        <b>Are you willing to spend extra for advanced SEO? :</b>
           <%= advanceSeo %><br>


        <b>If you plan to update content, do you have content writers and people who can create content (including images) for you? :</b>
           <%= contentWriter %><br>
        <b>Would your content writers happen to know HTML? :</b>
           <%= contentWriterHtml %><br>
        <b>What kind of content do you plan to update? :</b>
           <%= contentTypeArr %><br>


        <b>Do you intend to have any financial transactions online now or in the near future? If so, would you like an e-commerce capability on your website? :</b>
           <%= ecommerceCapability %><br>
        <b>What is the duration you need this site to be up, before you think you need to revamp or change it in a major way? :</b>
           <%= duration %><br>
        <b>Are you willing to consider spending on Online Marketing, like via Facebook or Google Ad words? :</b>
           <%= onlineMarketing %><br>
        <b>How frequently will you expect to update it? :</b>
           <%= update %><br>



        <b>Do different people have different Roles/Permissions to manage the site? :</b>
           <%= role %><br>
        <b>All sites are built for English audiences, do you wish additional languages? :</b>
           <%= additionalLanguage %><br>
        <b>What is the tone of the website?:</b>
           <%= tone %><br>
        <b>Favorite Sites: Please list 3-5 websites you like. Include the URL, what you like about each site, and what you would improve upon?:</b>
           <%= favouriteSite %><br>
        <b>Least favorite sites: Please list 3-5 websites you don’t like, include the URL. What don’t you like about these sites? What redeeming qualities do they have? :</b>
           <%= leastFavouriteSite %><br>
        <b>Selling points: tell us why you, your products or your services are better than your competition. :</b>
           <%= sellingPoint %><br>
        <b>Site no no’s: Do you have any definite remarks on what you don’t want to have on your website? :</b>
           <%= siteNo %><br>



        <b>Please list 5 (or more) adjectives that you think describe your company or should describe your company in order of relevance / importance. :</b>
           <%= adjective %><br>
        <b>Competitors: are there any websites that you would consider your “competition”? :</b>
           <%= competitors %><br>
        <b>Would you like a more “corporate” (template based) site such as avasara.in or a more experimental site where almost all pages have a different feel, such as wrap.co.in? :</b>
           <%= corporate %><br>
        <b>Is there something in particular you love and want your website to include? :</b>
           <%= particular %><br>
    </p>
</body>

</html>